.list-line {
    display: flex;
    justify-content: space-between;


    .list-line_button {
        display: flex;
        margin-left: 5px;

    }

    .list-line_name {
        font-weight: bold;
        display: flex;
        flex-direction: column;

    }
}